stages:
  - checksingle
  - build
  - test
  - qa
  - checkall

workflow:
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event" || ($CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_BRANCH=="master") || $TEST_ALL == "1" || $PROBABILITY

variables:
  REPO_NAME: "hep-forge"

default:
  image: apnpucky/gentoo-hep-forge:latest

.images: &images
  IMAGE:
    [
      apnpucky/gentoo-hep-forge:latest,
      apnpucky/gentoo-hep-forge-unstable:latest,
    ]

.matrix1: &matrix1
  parallel:
    matrix:
      - PKG: [cernlib]
        VERSION: ["2006-r8"]
        CATEGORY: ["sci-physics"]
        <<: *images
      - PKG: [resummino]
        VERSION: [3.1.2, 3.1.1]
        CATEGORY: ["sci-physics"]
        <<: *images
      - PKG: [oneloop]
        VERSION: [2020.07.31, "3.6"]
        CATEGORY: ["sci-physics"]
        <<: *images
      - PKG: [qcdloop]
        VERSION: [2.0.9, 2.0.5]
        CATEGORY: ["sci-physics"]
        <<: *images
      - PKG: [mcfm]
        VERSION: ["10.2.1"]
        CATEGORY: ["sci-physics"]
        <<: *images
      - PKG: [yoda]
        VERSION: [9999, 1.9.8, 1.9.7]
        CATEGORY: ["sci-physics"]
        <<: *images
      - PKG: [hepmc]
        VERSION: [9999, 3.2.6, 3.2.5, 2.06.11, 2.06.09-r2]
        CATEGORY: ["sci-physics"]
        <<: *images
      - PKG: [delphes]
        VERSION: [9999, 3.5.0]
        CATEGORY: ["sci-physics"]
        <<: *images
      - PKG: [pyslha]
        VERSION: [3.2.6]
        CATEGORY: ["sci-physics"]
        <<: *images

.matrix2: &matrix2
  parallel:
    matrix:
      - PKG: [pythia]
        VERSION: [9999, 8.3.07, 8.2.45]
        CATEGORY: ["sci-physics"]
        <<: *images
      - PKG: [rivet]
        VERSION: ["3.1.8", 9999, 3.1.7]
        CATEGORY: ["sci-physics"]
        <<: *images
      - PKG: [fastjet]
        VERSION: ["3.4.1",3.4.0]
        CATEGORY: ["sci-physics"]
        <<: *images
      - PKG: [fastjet-contrib]
        VERSION: ["1.051", "1.049"]
        CATEGORY: ["sci-physics"]
        <<: *images
      - PKG: [qgraf]
        VERSION: ["3.6.6",3.6.5, 3.5.2, 3.4.2]
        CATEGORY: ["sci-physics"]
        <<: *images
      - PKG: [topdrawer]
        VERSION: ["9999"]
        CATEGORY: ["sci-physics"]
        <<: *images
      - PKG: [looptools]
        VERSION: ["2.16", "2.15"]
        CATEGORY: ["sci-physics"]
        <<: *images
      - PKG: [slhalib]
        VERSION: ["2.2"]
        CATEGORY: ["sci-physics"]
        <<: *images

.matrix2_1: &matrix2_1
  parallel:
    matrix:
      - PKG: [lhapdf]
        VERSION: [9999, 6.5.4, 6.5.3, 6.5.2, 6.4.0, 6.3.0]
        CATEGORY: ["sci-physics"]
        <<: *images
      - PKG: [ninja]
        VERSION: [1.1.0]
        CATEGORY: ["sci-physics"]
        <<: *images
      - PKG: [samurai]
        VERSION: [2.1.1]
        CATEGORY: ["sci-physics"]
        <<: *images
      - PKG: [golem95]
        VERSION: [1.3.3]
        CATEGORY: ["sci-physics"]
        <<: *images
      - PKG: [collier]
        VERSION: [1.2.7, 1.2.5]
        CATEGORY: ["sci-physics"]
        <<: *images
      - PKG: [contur]
        VERSION: [2.4.0]
        CATEGORY: ["sci-physics"]
        <<: *images

.matrix3: &matrix3
  parallel:
    matrix:
      - PKG: [madgraph5]
        VERSION: [3.5.0, 3.4.2]
        CATEGORY: ["sci-physics"]
        <<: *images
      - PKG: [recola2]
        VERSION: [2.2.4]
        CATEGORY: ["sci-physics"]
        <<: *images
      - PKG: [tauola]
        VERSION: [1.1.8-r1]
        CATEGORY: ["sci-physics"]
        <<: *images
      - PKG: [photos]
        VERSION: ["3.64"]
        CATEGORY: ["sci-physics"]
        <<: *images
      - PKG: [herwig]
        VERSION: [7.2.3, 6.5.21-r2]
        CATEGORY: ["sci-physics"]
        <<: *images
      - PKG: [pyhepmc]
        VERSION: ["2.11.0",2.10.0]
        CATEGORY: ["sci-physics"]
        <<: *images
      - PKG: [hepi]
        VERSION: [0.2.8]
        CATEGORY: ["sci-physics"]
        <<: *images
      - PKG: [handyg]
        VERSION: [0.1.5]
        CATEGORY: ["sci-libs"]
        <<: *images
      - PKG: [einspline]
        VERSION: [0.9.2]
        CATEGORY: ["sci-libs"]
        <<: *images
      - PKG: [cuba]
        VERSION: ["4.2.2", "4.2", "3.3"]
        CATEGORY: ["sci-libs"]
        <<: *images
      - PKG: [mpfun90]
        VERSION: ["2023.02.26"]
        CATEGORY: ["sci-libs"]
        <<: *images

.matrix4: &matrix4
  parallel:
    matrix:
      - PKG: [easybuild]
        VERSION: ["4.7.0",4.6.2-r1]
        CATEGORY: ["sys-cluster"]
        <<: *images
      - PKG: [lmod]
        VERSION: [8.6.14-r1]
        CATEGORY: ["sys-cluster"]
        <<: *images
      - PKG: [modules]
        VERSION: [4.6.0-r1]
        CATEGORY: ["sys-cluster"]
        <<: *images
      - PKG: [tex2pix]
        VERSION: [0.3.1]
        CATEGORY: ["dev-python"]
        <<: *images
      - PKG: [pathos]
        VERSION: [0.3.0]
        CATEGORY: ["dev-python"]
        <<: *images
      - PKG: [smpl]
        VERSION: [9999, 1.0.2]
        CATEGORY: ["dev-python"]
        <<: *images
      - PKG: [xsdata]
        VERSION: ["22.11"]
        CATEGORY: ["dev-python"]
        <<: *images
      - PKG: [archspec]
        VERSION: ["0.2.0","0.1.4"]
        CATEGORY: ["dev-python"]
        <<: *images
      - PKG: [jacobi]
        VERSION: ["0.8.1"]
        CATEGORY: ["dev-python"]
        <<: *images

.matrix5: &matrix5
  parallel:
    matrix:
      - PKG: [sklearn2pmml]
        VERSION: ["0.93.0","0.92.1","0.92.0"]
        CATEGORY: ["sci-libs"]
        <<: *images
      - PKG: [cuttools]
        VERSION: [1.8.2]
        CATEGORY: ["sci-physics"]
        <<: *images
      - PKG: [openloops]
        VERSION: [2.1.2]
        CATEGORY: ["sci-physics"]
        <<: *images
      - PKG: [hoppet]
        VERSION: [1.2.0]
        CATEGORY: ["sci-physics"]
        <<: *images
      - PKG: [apfel]
        VERSION: [3.0.6]
        CATEGORY: ["sci-physics"]
        <<: *images
      - PKG: [apfelxx]
        VERSION: [4.7.0]
        CATEGORY: ["sci-physics"]
        <<: *images
      - PKG: [applgrid]
        VERSION: [1.6.32]
        CATEGORY: ["sci-physics"]
        <<: *images
      - PKG: [vegas]
        VERSION: ["5.4"]
        CATEGORY: ["sci-libs"]
        <<: *images
      - PKG: [mpfun90]
        VERSION: ["2023-02-26"]
        CATEGORY: ["sci-libs"]
        <<: *images
      - PKG: [iflow]
        VERSION: [1.0.0]
        CATEGORY: ["sci-libs"]
        <<: *images
      - PKG: [polylogarithm]
        VERSION: [6.14.0]
        CATEGORY: ["sci-libs"]
        <<: *images

.matrix6: &matrix6
  parallel:
    matrix:
      - PKG: [particle]
        VERSION: ["0.22.1",0.22.0, 0.21.1]
        CATEGORY: ["sci-physics"]
        <<: *images
      - PKG: [decaylanguage]
        VERSION: ["0.15.3",0.15.2]
        CATEGORY: ["sci-physics"]
        <<: *images
      - PKG: [pyhf]
        VERSION: ["0.7.1",0.7.0]
        CATEGORY: ["sci-physics"]
        <<: *images
      - PKG: [smodels]
        VERSION: ["2.3.0",2.2.1]
        CATEGORY: ["sci-physics"]
        <<: *images
      - PKG: [professor]
        VERSION: [2.3.3]
        CATEGORY: ["sci-physics"]
        <<: *images
      - PKG: [flavio]
        VERSION: ["2.5.0","2.4.0"]
        CATEGORY: ["sci-physics"]
        <<: *images
      - PKG: [feynhiggs]
        VERSION: ["2.18.1"]
        CATEGORY: ["sci-physics"]
        <<: *images
      - PKG: [softsusy]
        VERSION: ["4.1.13"]
        CATEGORY: ["sci-physics"]
        <<: *images
      - PKG: [spheno]
        VERSION: ["4.0.5","3.3.8"]
        CATEGORY: ["sci-physics"]
        <<: *images

.config:
  before_script:
    - emerge --sync || emaint -r ${REPO_NAME} sync
    - pushd /var/db/repos/${REPO_NAME} && git remote set-branches origin '*' && git fetch -v --depth=1 && git pull --unshallow && git checkout ${CI_COMMIT_SHA} && popd
    - ACCEPT_KEYWORDS="~amd64" emerge -q '>=app-portage/pkg-testing-tools-0.1.2'
    - echo 'dev-util/hermes ~amd64' >> /etc/portage/package.accept_keywords/zz-autoaccept
    - echo 'dev-python/uncertainties ~amd64' >> /etc/portage/package.accept_keywords/zz-autoaccept
    - echo 'dev-python/toposort ~amd64' >> /etc/portage/package.accept_keywords/zz-autoaccept
    - echo 'sci-physics/root ~amd64' >> /etc/portage/package.accept_keywords/zz-autoaccept
    - echo "*/*::${REPO_NAME} ~amd64" > /etc/portage/package.accept_keywords/${REPO_NAME}
    - echo '>=media-libs/libafterimage-1.20-r6 png gif tiff jpeg' >> /etc/portage/package.use/root
    - echo "=$CATEGORY/$PKG-$VERSION*::${REPO_NAME} **" >> /etc/portage/package.accept_keywords/${REPO_NAME}
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event" || ($CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_BRANCH=="master") || $TEST_ALL == "1" || $PROBABILITY
      changes:
        - "$CATEGORY/$PKG/$PKG-$VERSION*.ebuild"
        - "$CATEGORY/$PKG/metadata.xml"
        - "$CATEGORY/$PKG/files/*"
        - "$CATEGORY/$PKG/.build"
        - ".build"

local-pkgcheck:
  image: apnpucky/gentoo-ebuild-ci
  stage: checkall
  before_script: []
  script:
    - pkgcheck scan --exit --quiet

global-pkgcheck:
  image: apnpucky/gentoo-ebuild-ci
  stage: checkall
  before_script:
    - echo "[${REPO_NAME}]">> /etc/portage/repos.conf/${REPO_NAME}.conf
    - echo "location = /var/db/repos/${REPO_NAME}" >> /etc/portage/repos.conf/${REPO_NAME}.conf
    - echo "sync-type = git" >> /etc/portage/repos.conf/${REPO_NAME}.conf
    - echo "sync-uri = https://gitlab.com/APN-Pucky/gentoo-${REPO_NAME}.git" >> /etc/portage/repos.conf/${REPO_NAME}.conf
    - emaint -r ${REPO_NAME} sync
    - pushd /var/db/repos/${REPO_NAME} && git remote set-branches origin '*' && git fetch -v --depth=1 && git pull --unshallow && git checkout ${CI_COMMIT_SHA} && popd
  script:
    - pkgcheck ci -r ${REPO_NAME} --exit --quiet

.check:
  image: apnpucky/gentoo-ebuild-ci
  extends: .config
  stage: checksingle
  before_script: []
  script:
    - pkgcheck scan "=$CATEGORY/$PKG-$VERSION*::${REPO_NAME}" --exit

.warn:
  image: apnpucky/gentoo-ebuild-ci
  extends: .config
  stage: checksingle
  before_script: []
  script:
    - pkgcheck scan "=$CATEGORY/$PKG-$VERSION*::${REPO_NAME}" --exit warning || exit 137
  allow_failure:
    exit_codes: 137

.build:
  stage: build
  needs: []
  extends: .config
  script:
    - USE="-root" emerge "=$CATEGORY/$PKG-$VERSION*::${REPO_NAME}" --autounmask=y --autounmask-write --autounmask-continue --autounmask-use=y 2>&1 | tee "build_$CATEGORY_$PKG-$VERSION.log";
  artifacts:
    when: always
    paths:
      - "build_*.log"
    expire_in: 1 week

.test:
  stage: test
  extends: .config
  script:
    - if [[ -n $PROBABILITY ]] && [[ $(( RANDOM % 101 )) -gt $PROBABILITY ]] ; then exit 137 ; fi
    - if grep -Fq "python-single-r1" $CATEGORY/$PKG/$PKG-$VERSION*.ebuild;
      then
      inherit() { sleep 0; } &&
      source $CATEGORY/$PKG/$PKG-$VERSION*.ebuild &&
      for PY in ${PYTHON_COMPAT[@]}; do
      echo "Testing single python $PY" &&
      PYTHON_SINGLE_TARGET="$PY" pkg-testing-tool --append-emerge "--autounmask=y --autounmask-write --autounmask-continue --autounmask-use=y" --max-use-combinations 32 --ccache --extra-env-file 'test.conf' --test-feature-scope always --append-required-use "^^ ( python_single_target_python3_11 python_single_target_python3_10 ) python_single_target_$PY -root" -p "=$CATEGORY/$PKG-$VERSION*::${REPO_NAME}" --report test_$CATEGORY_$PKG-$VERSION-$PY.json 2>&1 | tee -a test_$CATEGORY_$PKG-$VERSION-$PY.log ;
      done;
      else
      if grep -Fq "lua-single" $CATEGORY/$PKG/$PKG-$VERSION*.ebuild;
      then
      inherit() { sleep 0; } &&
      source $CATEGORY/$PKG/$PKG-$VERSION*.ebuild &&
      for LUA in ${LUA_COMPAT[@]}; do
      if [ "$LUA" != "lua5-2" ]; then
      echo "Testing single lua $LUA" &&
      LUA_SINGLE_TARGET="$LUA" pkg-testing-tool --append-emerge "--autounmask=y --autounmask-write --autounmask-continue --autounmask-use=y" --max-use-combinations 32 --ccache --extra-env-file 'test.conf' --test-feature-scope always --append-required-use "^^ ( lua_single_target_lua5-1 lua_single_target_lua5-3 lua_single_target_lua5-4 ) lua_single_target_$LUA -root" -p "=$CATEGORY/$PKG-$VERSION*::${REPO_NAME}" --report test_$CATEGORY_$PKG-$VERSION-$LUA.json 2>&1 | tee -a test_$CATEGORY_$PKG-$VERSION-$LUA.log ;
      fi
      done;
      else
      echo "Non single test" &&
      pkg-testing-tool --append-emerge "--autounmask=y --autounmask-write --autounmask-continue --autounmask-use=y" --max-use-combinations 32 --ccache --extra-env-file 'test.conf' --append-required-use "!root" --test-feature-scope always -p "=$CATEGORY/$PKG-$VERSION*::${REPO_NAME}" --report test_$CATEGORY_$PKG-$VERSION.json 2>&1 | tee "test_$CATEGORY_$PKG-$VERSION.log";
      fi
      fi
  artifacts:
    when: always
    paths:
      - "test_*.log"
      - "test*.json"
    expire_in: 1 week
  allow_failure:
    exit_codes: 137

.qa:
  stage: qa
  extends: .config
  script:
    - ls *.log
    - (! grep -A10 -B10 "QA Notice" test_$CATEGORY_$PKG-$VERSION*.log)
  allow_failure: true

check1:
  extends: .check
  <<: *matrix1

warn1:
  extends: .warn
  <<: *matrix1

build1:
  extends: .build
  <<: *matrix1

test1:
  extends: .test
  <<: *matrix1

qa1:
  extends: .qa
  <<: *matrix1

check2:
  extends: .check
  <<: *matrix2

warn2:
  extends: .warn
  <<: *matrix2

build2:
  extends: .build
  <<: *matrix2

test2:
  extends: .test
  <<: *matrix2

qa2:
  extends: .qa
  <<: *matrix2

check2_1:
  extends: .check
  <<: *matrix2_1

warn2_1:
  extends: .warn
  <<: *matrix2_1

build2_1:
  extends: .build
  <<: *matrix2_1

test2_1:
  extends: .test
  <<: *matrix2_1

qa2_1:
  extends: .qa
  <<: *matrix2_1

check3:
  extends: .check
  <<: *matrix3

warn3:
  extends: .warn
  <<: *matrix3

build3:
  extends: .build
  <<: *matrix3

test3:
  extends: .test
  <<: *matrix3

qa3:
  extends: .qa
  <<: *matrix3

check4:
  extends: .check
  <<: *matrix4

warn4:
  extends: .warn
  <<: *matrix4

build4:
  extends: .build
  <<: *matrix4

test4:
  extends: .test
  <<: *matrix4

qa4:
  extends: .qa
  <<: *matrix4

check5:
  extends: .check
  <<: *matrix5

warn5:
  extends: .warn
  <<: *matrix5

build5:
  extends: .build
  <<: *matrix5

test5:
  extends: .test
  <<: *matrix5

qa5:
  extends: .qa
  <<: *matrix5

check6:
  extends: .check
  <<: *matrix6

warn6:
  extends: .warn
  <<: *matrix6

build6:
  extends: .build
  <<: *matrix6

test6:
  extends: .test
  <<: *matrix6

qa6:
  extends: .qa
  <<: *matrix6
